@media screen and (max-width: 426px) {
    *{
        margin: 0px;
        background: none;
    }
    body {
        /* background-color: #ff0; */
    }
    /* header */
    .header {
        padding: 1% 2%;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu li {
        line-height: 2rem;
    }
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 100px;
    }
    .banner-img-container {
        width: 100%;
        /* height: 99%; */
    }
    .banner-text-container {
        margin-top: 40px;
    }
    main {
        margin-top: 300px;
    }
    .gamer-container {
        flex-direction: column;
        margin-top: 0px;
    }
    .gamer-text {
        text-align: center;
    }
    .vdo-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .vdo-card {
        width: 100%;
        height: auto;
        position: relative;
    }
    .funny-vdo-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-primary {
        text-align: center;
    }
    .vdo-card p {
        margin-bottom: 20px;
        text-align: center;
    }
    /* .playBtn {
        visibility: hidden;
        cursor: pointer;
        position: absolute;
        top: 200px;
        left: 200px;
    } */
    .vdo-card:hover .playBtn {
        visibility: hidden;
    }
    /* border: 3px solid red; */
    .play-instantly-container {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-end; */
    }
    .play-instantly-img-container {
        /* position: relative;
        left: 30px;
        margin-top: 30px; */
        /* height: 100vh; */
        height: auto;
        margin-bottom: 100px;
        margin-top: 70px;
    }
    .play-instantly-item {
        text-align: center;
    }
    .play-instantly-img-sub{
        position: absolute;
        bottom: -50px;
        left: 0px;
    }
    .link-img{
        width: 100px;
    }
    .link-img img {
        width: 50%;
    }
    .link-img h3 {
        font-size: small;
    }
    .links-container{
        /* grid-template-columns: repeat(1, 600px); */
        grid-template-columns: repeat(3, 100px);
        column-gap: 15px;
    }

    .navigation {
        /* grid-template-columns: repeat(1, 1fr); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    .link-footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3vh;
    }
    .footer{
        /* padding: 25px 63px; */
    }
}
@media screen and (min-width: 426px) and (max-width: 769px) {
    * {
        margin: 0px;
    }
    body {
        background-color: #0ff;
    }
    .header {
        /* padding: 2% 2%; */
        margin: 0px;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0px;
    }
    .menu {
        justify-content: space-between;
        /* gap: 30px; */
        width: 100%;
        margin-top: 20px;
    }
    .menu li {
        width: auto;
    }
    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .banner-text-container {
        margin-top: 40px;
    }
    .gamer-container {
        margin-top: 100px;
    }
}
