@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Genral Classes */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
}
body {
    /* background-color: aqua; */
}
.primary-color {
    color: #ff42a5;
}
button a {
    text-decoration: none;
    color: black;
}

/* header */
.header {
    padding: 2% 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    font-weight: 700;
    font-size: 45px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.menu li {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
